.p-form {
  .p-form_genre {
    .p-form_genre_radio_btn {
      display: none;
    }
    .p-form_genre_radio_label {
      font-size: 18px;
      background-color: #efefef;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 6px;
      @include mq() {
        font-size: 12px;
      }
      }
    .p-form_genre_radio_btn:checked + .p-form_genre_radio_label {
      background-color: $main-color;
      color: #fff;
    }
  }
  .p-form_content {
    margin: 40px 0;
    .p-form_content_text {
      width: 90%;
      height: 80px;
      border-radius: 10px;
      margin: 10px 0;
    }
    textarea {
      border: none;
      background-color: #ecebeb;
      padding: 10px;
      &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px rgb(82, 133, 124) inset;
      }
    }
  }
  .p-form_content {
    font-weight: bold;
  }
  .p-form_submit {
    margin: 20px 0;
    .p-form_btn {
      display: inline-block;
      border-radius: 20%;
      font-size: 10pt;
      text-align: center; 
      cursor: pointer;
      padding: 10px 14px;
      background: $main-color;   
      color: #ffffff;   
      line-height: 1rem; 
      transition: .3s;
      box-shadow: 3px 3px 3px #666666;    
      &:hover {
        box-shadow: none;  
        color: $main-color;
        background: #ffffff;
      }
    }
  }
  input {
    border: none;
    background-color: #ecebeb;
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgb(82, 133, 124) inset;
    }
  }
  select {
    border: none;
    background-color: #ecebeb;
  }
}