.p-header {
  width: 100%;
  background-color: rgba(39, 123, 126, 0.377);
  .p-header_link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .p-header_link_item {
      margin: 20px;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
}