.l-header {
  position: relative;
  @include mq() {
    display: none;
  }
}

.l-drawer {
  display: none;
  @include mq() {
    display: flex;
  }
  .l-drawer_logo {
    width: 85px;
    .l-drawer_logo_img {
      width: auto;
      height: 30px;
    }
  }
  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 25px;
    margin: 0 0 0 auto;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $main-color;
      transform: translateY(-50%);
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $main-color;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: 2px;
      background-color: $main-color;
    }
  }
}
