<% if user_signed_in? %>
  <div class="p-user_index_content_detail">
    <% if user.user_img? %>
      <%= image_tag user.user_img.url %>
    <% else %>
      <%= image_tag 'image/default_icon.png' %>
    <% end %>
    <%= link_to user.name, user_path(user) %>
  </div>
<% else %>
  <p>ログインしてください</p>
<% end %>