<% provide(:title, 'ユーザー一覧') %>
<div class="p-user_index">
  <div class="p-user_index_title">
    <h1>Users</h1>
  </div>
  <div class="p-user_index_content">
    <%= render @users %> 
  </div>
</div>

