<% provide(:title, @user.name) %>
<div>
  <p><%= "name: #{@user.name}" %></p>
</div>
<div>
  <p>投稿</p>
  <% @posts.each do |post| %>
    <p><%= post.genre %> : <%= post.content %></p>
    <p><%= l post.created_at %></p>
  <% end %>
</div>
