<div class="p-top">
  <div class="p-top_content">
    <%= image_tag 'image/bgi.jpg', class: "p-top_content_bgi" %>
    <%= image_tag 'image/logo.png', class: "p-top_content_logo" %>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "p-top_content_guest" %>
    <% end %>
  </div>
</div>