<% provide(:title, '投稿一覧') %>

<div class="l-main_content_wrap">

  <div class ="p-post_index_left">
    <div class="p-post_index_left_content">
      <h1>Post List</h1>
      <div id="posts">
        <%= render @posts %>
      </div>
    </div>
  </div>
  
  <div class="p-post_index_right">
    <div class="p-post_index_right_content">
      <h1 id="p-post_index_right_content_title">New Post</h1>
      <div class="p-post_index_right_content_NewEdit">
        <%= render 'form', post: Post.new, value: "New" %>
      </div>
    </div>
  </div>

</div>
