// 対応するメッセージを更新
document.getElementById('post-<%= @post.id %>').innerHTML = '<%= j(render @post) %><p><%= @msg %></p> '
// フォームを新規投稿フォームに戻す
var form = document.getElementsByTagName('form')[0]
form.outerHTML = '<%= j(render 'form', post: Post.new, value: 'Nes') %>'